.div1
{
    background-color: blue;
    height: 30%;
    display: block;
    padding: 10%;
    margin-top: 5%;
    text-align: justify;
    font-size: xx-large;
}

.div2
{
    background-color: grey;
    height: 30%;
    display: flex;
}

.div3
{
    background-color: red;
    height: 30%;
    display: inline-block;
}